<div>
    <p>
        <span class="bg-info">{{ i18n.name }}</span>:
        <span class="bg-primary">{{ card.account.cardholder.firstName }} {{ card.account.cardholder.lastName }}</span>
    </p>
    <p>
        <span class="bg-info">{{ i18n.accountNumber }}</span>:
        <span class="bg-primary">{{ card.account.number }} </span>
    </p>
    <p>
        <span class="bg-info">{{ i18n.accountClave }}</span>:
        <span class="bg-primary">{{ card.account.clave }} </span>
    </p>
    <p>
        <span class="bg-info">{{ i18n.accountBalance }}</span>:
        <span class="bg-primary">{{ card.account.balance }} </span>
    </p>
    <p>
        <span class="bg-info">{{ i18n.cardBalance }}</span>:
        <span class="bg-primary">{{ card.balance }} </span>
    </p>
</div>