<div class="container">
    <hr>
    <div class="row">
        <div class="col-xs-8">
            <ul class="list-unstyled list-inline pull-left">
                <li><a href="#">{{ i18n.footer.terms }}</a></li>
                <li><a href="#">{{ i18n.footer.contact_us }}</a></li>
                <li><a href="#">{{ i18n.footer.privacy }}</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <p class="text-muted pull-right">© {{ currentYear }} eBank. {{ i18n.footer.rights_reserved }} </p>
        </div>
    </div>
</div>
